body {
  padding: 0 30px 0 30px;
}

button {
    font-size: 18px;
    padding: 0px;
    margin: 12px 40px 0px 0px;
    width: 106px;
    height: 38px;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.redButton{
  background-color: #f9e8f1;
}

.redButton:hover{
	background-color: #a52f6a;
	box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
	color: #fff;
}
.greenButton{
  background-color: #dcf9f6;
}

.greenButton:hover{
	background-color: #40a89e;
	box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
	color: #fff;
}
.blueButton{
  background-color: #f9ead2;
}

.blueButton:hover{
	background-color: #d1743f;
	box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
	color: #fff;
}
.yellowButton{
  background-color: #defce2;
}

.yellowButton:hover{
	background-color: #1f5b25;
	box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
	color: #fff;
}

table, th, td {
  border: 1px solid black;
}

table {
  margin-top: 15px;
    width: 80%;
    font-size: 16px;
    line-height: 35px;
    color: black;
    text-align: center;
    margin: 32px 0px 30px 0px;
    background: #f9ead2;
    box-shadow: 0 6px 12px rgb(0 0 0 / 20%);
    border-collapse: collapse;
}


